## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
mouse_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# Checking the number of mice.
num_mice = mouse_df['Mouse ID'].nunique()
num_mice

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
# Create an array of index values associated with Mouse IDs showing duplicate Timepoints.
duplicate_mice = mouse_df.duplicated(subset=['Mouse ID', 'Timepoint'], keep=False)
duplicate_mice_index = duplicate_mice[duplicate_mice].index.values

# Convert array to a list
duplicate_mice_index = duplicate_mice_index.tolist()
duplicate_mouse_id = []

# Find Mouse ID associated with each index value
for mouse in duplicate_mice_index:
    duplicate_mouse_id.append(mouse_df.iloc[mouse,0])

# This list will always contain data in pairs, so drop duplicates within the list
duplicate_mouse_id = list(dict.fromkeys(duplicate_mouse_id))
    
# List of duplicate mice by ID number
duplicate_mouse_id

['g989']

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_summary = mouse_df.loc[mouse_df['Mouse ID'] == 'g989']
duplicate_summary

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
for item in duplicate_mouse_id:
    mouse_df = mouse_df.loc[mouse_df["Mouse ID"] != "g989"]
mouse_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [6]:
# Checking the number of mice in the clean DataFrame.
num_mice = mouse_df['Mouse ID'].nunique()
num_mice

248

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
tumor_mean = mouse_df[['Drug Regimen','Tumor Volume (mm3)']].groupby('Drug Regimen').mean()
tumor_median = mouse_df[['Drug Regimen','Tumor Volume (mm3)']].groupby('Drug Regimen').median()
tumor_variance = mouse_df[['Drug Regimen', 'Tumor Volume (mm3)']].groupby('Drug Regimen').var()
tumor_std = mouse_df[['Drug Regimen', 'Tumor Volume (mm3)']].groupby('Drug Regimen').std()
tumor_sem = mouse_df[['Drug Regimen', 'Tumor Volume (mm3)']].groupby('Drug Regimen').sem()

drug_summary = pd.merge(tumor_mean, tumor_median, on='Drug Regimen')
drug_summary = drug_summary.rename(columns={'Tumor Volume (mm3)_x':'Tumor Volume (mm3) Mean',
                                            'Tumor Volume (mm3)_y':'Tumor Volume (mm3) Median'})
drug_summary = pd.merge(drug_summary, tumor_variance, on='Drug Regimen')
drug_summary = pd.merge(drug_summary, tumor_std, on='Drug Regimen')
drug_summary = pd.merge(drug_summary, tumor_sem, on='Drug Regimen')

drug_summary = drug_summary.rename(columns={'Tumor Volume (mm3)_x':'Tumor Volume (mm3) Variance',
                                            'Tumor Volume (mm3)_y':'Tumor Volume (mm3) STD',
                                            'Tumor Volume (mm3)':'Tumor Volume (mm3) SEM'})

drug_summary

# This method is the most straighforward, creating multiple series and putting them all together at the end.

,Tumor Volume (mm3) Mean,Tumor Volume (mm3) Median,Tumor Volume (mm3) Variance,Tumor Volume (mm3) STD,Tumor Volume (mm3) SEM
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.320930,50.446266,43.852013,6.622085,0.544332
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [20]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
drug_summary2 = mouse_df[['Drug Regimen','Tumor Volume (mm3)']].groupby('Drug Regimen').describe()
drug_summary2

# This method produces everything in a single groupby function

             Tumor Volume (mm3)                                             \
                          count       mean       std        min        25%
Drug Regimen
Capomulin                 230.0  40.675741  4.994774  23.343598  37.685933
Ceftamin                  178.0  52.591172  6.268188  45.000000  47.208427
Infubinol                 178.0  52.884795  6.567243  36.321346  47.312353
Ketapril                  188.0  55.235638  8.279709  45.000000  48.232987
Naftisol                  186.0  54.331565  8.134708  45.000000  47.285874
Placebo                   181.0  54.033581  7.821003  45.000000  47.459053
Propriva                  148.0  52.320930  6.622085  45.000000  46.894328
Ramicane                  228.0  40.216745  4.846308  22.050126  36.674635
Stelasyn                  181.0  54.233149  7.710419  45.000000  48.047139
Zoniferol                 182.0  53.236507  6.966589  45.000000  47.337876


                    50%        75%        max
Drug Regimen
Capomulin     41.557809  45.000000  48.158209
Ceftamin      51.776157  56.801438  68.923185
Infubinol     51.820584  57.314444  72.226731
Ketapril      53.698743  60.870951  78.567014
Naftisol      52.509285  59.963034  76.668817
Placebo       52.288934  59.916934  73.212939
Propriva      50.446266  56.491585  72.455421
Ramicane      40.673236  45.000000  47.622816
Stelasyn      52.431737  58.719297  75.123690
Zoniferol     51.818479  57.954259  73.324432

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen